 
  
  <div>
    <div class="izq">
        <img src="assets/alcaldiac_logo.png">
      </div>
      <div class="der">
        <button class="btn btn-info active" (click)="cerrarsesion()" style="padding-left: 20px;">Cerrar Sesión</button>
      </div>
    <br>
    <br>
    </div>
        <br>
        <br> 
        <br>

    <div class="contenedorsecundario">
      <div class="centrado">
          <h4>Zona de Administración del Sistema</h4>
      </div>

        <label >Seleccione la opción deseada </label>
        <br>
       
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label class="labeld" for="opcion">*Opción de Administrador</label>
            <select required class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="opcion"
              id="opcion" (change)="EjecutarAccion()">
              <option selected value="0"> -- Seleccione una Opción --</option>
              <option value="1">Visualizar Solicitudes de Consejeria en Lactancia Materna</option>
              <option value="2">Gestionar Usuarios</option>
              <option value="3">Gestionar Convocatorias</option>
              <option value="4">Gestionar Horas Formación </option>
              <option value="5">Gestionar Precios Consulta </option>
              <option value="6">Gestionar Profesiones </option>

              
              
            </select>
          </div>
        </div>
    </div>
  </div>
  
  
  <app-gestionusuarios *ngIf="VisualizarGestionUsuarios">
  </app-gestionusuarios>

  
  
  
  
  
  
  