<div class="container-body">

    <br>
    <br><br><br>

    <!--<div [blockClass]="'box-list m-t-15'" class="tarjeta">-->
    <div class="tarjeta" *ngIf="displayListConvocatorias">
        <div class="long-title">
            <h3>Gestión de Convocatorias</h3>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <dx-button id="button" class="rounded mx-auto" text="Crear Convocatoria" type="success"
                    (click)="showPanel('C',0)"></dx-button>
            </div>
        </div>
    </div>
    <!--</div>-->
    <!---->


    <!--Inicio Grilla Convocatorias-->

    <div class="tarjeta" *ngIf="displayListConvocatorias">
        <div *ngIf="displayListConvocatorias">

            <dx-data-grid id="gridContainer" [dataSource]="convocatoriasLista" keyExpr="con_id" showBorders="true"
                [columnAutoWidth]="true" [rowAlternationEnabled]="true" ng-selected="true"
                [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                [showBorders]="true">

                <dxo-editing mode="form"></dxo-editing>
                <dxi-column caption="Operaciones" cellTemplate="accionCellTemplate" alignment="center">
                </dxi-column>


                <dxi-column dataField="con_id" caption="Id"></dxi-column>
                <dxi-column dataField="con_nombre" caption="Nombre"></dxi-column>
                <dxi-column dataField="con_fechainicio" caption="Fecha Inicio" dataType="date" [format]="{ type: 'dd/MM/yyyy' }"></dxi-column>
                <dxi-column dataField="con_horainicio" caption="Hora Inicio"></dxi-column>
                <dxi-column dataField="con_fechafinal" caption="Fecha Final" dataType="date" [format]="{ type: 'dd/MM/yyyy' }"></dxi-column>
                <dxi-column dataField="con_horafinal" caption="Hora Final"></dxi-column>
                <dxi-column dataField="con_estado" caption="Estado"></dxi-column>


                <dxo-export [enabled]="true" fileName="Convocatorias"></dxo-export>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-search-panel [visible]="true" placeholder="Buscar..."></dxo-search-panel>
                <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage">
                </dxo-state-storing>

                <dxo-remote-operations [sorting]="true" [paging]="true">
                </dxo-remote-operations>
                <dxo-paging [pageSize]="10"></dxo-paging>

                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]"></dxo-pager>
                <dxo-summary>
                    <dxi-total-item column="con_id" summaryType="count" displayFormat="Cantidad: {0}">
                    </dxi-total-item>
                </dxo-summary>

                <div *dxTemplate="let d of 'accionCellTemplate'">
                    <div class="button-cell">

                        <dx-button id="button" class="rounded mx-auto" text="Actualizar" type="success"
                            (click)="showPanel('U', d.data.con_id)"></dx-button>

                            <dx-button id="button" class="rounded mx-auto" text="Eliminar" type="danger"
                            (click)="showPanel('E', d.data.con_id)"></dx-button>

                        <i style="font-size:20px; cursor:pointer;" class="icofont icofont-law-document"
                            placement="right" ngbTooltip="Actualizar" (click)="showPanel('U', d.data.con_id)"></i>

                    </div>
                </div>
            </dx-data-grid>


        </div>
    </div>

    <!-- Fin Grilla de Convocatorias-->

    <!--Formulario Creacion de Convocatorias-->
    <div class="tarjeta" *ngIf="displayCrearConvocatorias">
        <div *ngIf="displayCrearConvocatorias">
            <form #formConvocatorias="ngForm" (ngSubmit)="onSubmitConvocatorias(formConvocatorias.valid)">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Nombre:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" 
                                    name="nombre" #nombre="ngModel" [(ngModel)]="convocatoria.con_nombre"
                                    placeholder="Por favor ingrese el Nombre de la Convocatoria" required>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Fecha Inicio:</label>
                            <div class="col-sm-8">
                                <input required type="date" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="FechaInicio" class="form-control" id="fechainicial"
                                    placeholder="dd/mm/yyyy" datepicker-popup="dd/MM/yyyy" is-open="opened"
                                    close-text="Close">
                            </div>
                        </div>

 
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Hora Inicio:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    name="horainicio" [(ngModel)]="convocatoria.con_horainicio" maxlength="7">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Fecha Final:</label>
                            <div class="col-sm-8">
                                <input required type="date" 
                                    [(ngModel)]="FechaFinal" class="form-control" id="fechafinal" [ngModelOptions]="{standalone: true}"
                                    placeholder="dd/mm/yyyy" datepicker-popup="dd/MM/yyyy" is-open="opened"
                                    close-text="Close">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Hora Final:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                name="horafinal"  [(ngModel)]="convocatoria.con_horafinal" maxlength="7" >
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Estado:</label>
                            <div class="col-sm-8">
                                <select required class="form-control"  [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="convocatoria.con_estado" id="estado">
                                    <option value=""> -- Seleccione el Estado --</option>
                                    <option value="A">Activa</option>
                                    <option value="I">Inactiva</option>
                                </select>

                            </div>

                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary m-b-0">Guardar</button>
                        <button type="button" (click)="showPanel('V',0)" class="btn btn-primary m-b-0">Volver</button>
                    </div>
                </div>


                <div class="divTableRow">
                    <div class="divTableCell">
                      <div *ngIf="errorLabel" class="alert alert-danger api-response-alert2 col-sm-3" role="alert">
                        {{errorText}}
                      </div>
            
                    </div>
                  </div>
            </form>
        </div>
    </div>
    <!--Fin Formulario Creacion de Convocatorias-->



</div>

<!-- Fin Body-->