<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <b>SiguemeQ</b>
        </div>
        <div class="col-md-4">
            <b>Usuario : {{nombreUsuario}} ( {{rolUsuario}} )</b>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success float-right" id="btnCerrarSesion" (click)="cerrarsesion()">Cerrar Sesión</button>
        </div>
    </div>
</div>


<!-- <div class="col-md-4"><img src="assets/LogoSiguemeQ.png" class="img-responsive" width="100%" height="100%"></div>
        <div class="col-md-4">Usuario : Edgar Mauricio Ruiz (Administrador)</div>
        <div class="col-md-4"><button type="submit" class="btn btn-success btn-lg float-right"  id="btnCerrarSesion">Cerrar Sesión</button></div>
-->